body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background: #222326;
  height: 100%;
}

.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: lightgreen;
}

.movieList-div {
  /* overflow-y: hidden;
  max-height: 430px;
  overflow-x: auto; */
  /* display: flex; */
  color: #fff;
  height: 554px;
  overflow: auto;
  color: #fff;
}

.img-card {
  width: 20%;
  height: 150px;
  margin: 1rem 0;
  border: 1px solid orange;
}

svg {
  cursor: pointer;
}

svg.bi.bi-x {
  background: burlywood;
  color: red;
}
